@import './base.css';

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--aico-teal);
  transition: color 0.25s ease;
}

a:hover {
  color: var(--aico-coral);
}
